<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ICOMautomagic.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <ICOMautomagic.Properties.Settings>
            <setting name="Top" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Left" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="COMport" serializeAs="String">
                <value>COM2</value>
            </setting>
            <setting name="LowerEdgesCW" serializeAs="String">
                <value>1810;3500;5352;7000;10100;14000;18068;21000;24890;28000;50000</value>
            </setting>
            <setting name="UpperEdgesCW" serializeAs="String">
                <value>1840;3570;5366;7040;10130;14070;18109;21070;24920;28070;50150</value>
            </setting>
            <setting name="RefLevelsCW" serializeAs="String">
                <value>-6;-6;-6;-6;-6;-6;-6;-6;-6;-6;-6</value>
            </setting>
            <setting name="LowerEdgesSSB" serializeAs="String">
                <value>1840;3600;5353;7040;10100;14100;18111;21150;24931;28300;50100</value>
            </setting>
            <setting name="UpperEdgesSSB" serializeAs="String">
                <value>2000;3800;5366;7200;10150;14350;18168;21450;24990;28600;50500</value>
            </setting>
            <setting name="RefLevelsSSB" serializeAs="String">
                <value>-3;-3;-3;-3;-3;-3;-3;-3;-3;-3;-3</value>
            </setting>
            <setting name="LowerEdgesDigital" serializeAs="String">
                <value>1840;3570;5352;7040;10130;14070;18089;21070;24910;28070;50300</value>
            </setting>
            <setting name="UpperEdgesDigital" serializeAs="String">
                <value>1860;3600;5366;7080;10150;14100;18109;21150;24932;28110;50350</value>
            </setting>
            <setting name="RefLevelsDigital" serializeAs="String">
                <value>-9;-9;-9;-9;-9;-9;-9;-9;-9;-9;-9</value>
            </setting>
            <setting name="RefLevelsDigitalZ" serializeAs="String">
                <value>-3;-3;-3;-3;-3;-3;-3;-3;-3;-3;-3</value>
            </setting>
            <setting name="RefLevelsCWZ" serializeAs="String">
                <value>-3;-3;-3;-3;-3;-3;-3;-3;-3;-3;-3</value>
            </setting>
            <setting name="RefLevelsSSBZ" serializeAs="String">
                <value>-3;-3;-3;-3;-3;-3;-3;-3;-3;-3;-3</value>
            </setting>
        </ICOMautomagic.Properties.Settings>
    </userSettings>
</configuration>